@charset "UTF-8";
body {
  background: #263238;
  color: white;
  cursor: default; }

.container {
  background: #57b5e6;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "RobotoLight";
  font-size: 3rem;
  letter-spacing: 0.1rem;
  position: relative;
  height: 100vh;
  overflow: hidden;
  text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  /* Слайдер Gallery start */
  /* Скилы Skills start */
  /* Контакты Contacts start */ }

.container .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/bg.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  opacity: 0.1;
  -webkit-animation: main-background 20s infinite alternate linear;
          animation: main-background 20s infinite alternate linear; }

.container .menu-container {
  width: 20rem;
  height: 28rem;
  position: absolute; }

.container .menu-container .button {
  position: absolute;
  top: 2%;
  left: 3%;
  width: 5rem;
  height: 5rem;
  background: #2BA2DF;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  z-index: 7; }

.container .menu-container .button:hover {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg); }

.container .menu-container .button .icon {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2); }

.container .menu-container .button .icon::before, .container .menu-container .button .icon::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2); }

.container .menu-container .button .icon::before {
  top: 0;
  left: -130%; }

.container .menu-container .button .icon::after {
  top: 0;
  left: 130%; }

.container .menu-container .main-menu {
  position: absolute;
  width: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: -100%;
  left: 85%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 7; }

.container .menu-container .main-menu li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.5rem;
  text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  padding: 1rem 1.5rem;
  position: relative; }

.container .menu-container .main-menu li a:hover::before, .container .menu-container .main-menu li a:hover::after {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: .2rem;
  background: white; }

.container .menu-container .main-menu li a:hover::before {
  top: 50%;
  left: 2%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.container .menu-container .main-menu li a:hover::after {
  top: 50%;
  left: 98%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.container .menu-container .circles {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 5rem;
  height: 5rem; }

.container .menu-container .circles .circle1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #2BA2DF;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  z-index: 5; }

.container .menu-container .circles .circle2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #2095d1;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  z-index: 4; }

.container .menu-container .close {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 2%;
  left: 8%;
  cursor: pointer;
  z-index: 7;
  opacity: 0;
  visibility: hidden; }

.container .menu-container .close::before, .container .menu-container .close::after {
  content: '';
  position: absolute;
  width: 2rem;
  height: .2rem;
  background: white;
  -webkit-box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.container .menu-container .close::before {
  top: 50%;
  left: 9%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.container .menu-container .close::after {
  top: 50%;
  left: 9%;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }

.container .menu-container .close:hover::before {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg); }

.container .menu-container .close:hover::after {
  -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
          transform: rotate(315deg); }

.container .scene {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.container .scene .item {
  position: absolute;
  background: white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  opacity: 0;
  z-index: 1; }

.container .scene .item1 {
  width: 10rem;
  height: 10rem;
  -webkit-animation: item1 15s infinite alternate linear;
          animation: item1 15s infinite alternate linear; }

.container .scene .item2 {
  width: 7rem;
  height: 7rem;
  -webkit-animation: item2 13s infinite alternate linear;
          animation: item2 13s infinite alternate linear; }

.container .scene .item3 {
  width: 13rem;
  height: 13rem;
  -webkit-animation: item3 8s infinite alternate linear;
          animation: item3 8s infinite alternate linear; }

.container .scene .item4 {
  width: 17rem;
  height: 17rem;
  -webkit-animation: item4 18s infinite alternate linear;
          animation: item4 18s infinite alternate linear; }

.container .scene .item5 {
  width: 8rem;
  height: 8rem;
  -webkit-animation: item5 11s infinite alternate linear;
          animation: item5 11s infinite alternate linear; }

.container .scene .item6 {
  width: 5rem;
  height: 5rem;
  -webkit-animation: item6 13s infinite alternate linear;
          animation: item6 13s infinite alternate linear; }

.container .scene .item7 {
  width: 3rem;
  height: 3rem;
  -webkit-animation: item7 6s infinite alternate linear;
          animation: item7 6s infinite alternate linear; }

.container .scene .item8 {
  width: 11rem;
  height: 11rem;
  -webkit-animation: item8 18s infinite alternate linear;
          animation: item8 18s infinite alternate linear; }

.container .scene .item9 {
  width: 11rem;
  height: 11rem;
  -webkit-animation: item9 10s infinite alternate linear;
          animation: item9 10s infinite alternate linear; }

.container .scene .item10 {
  width: 7rem;
  height: 7rem;
  -webkit-animation: item10 15s infinite alternate linear;
          animation: item10 15s infinite alternate linear; }

.container #content {
  opacity: 1; }

.container .home-content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* Home logo start */
  /* Home logo end */ }

.container .home-content .site-name {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Indie Flower", cursive;
  text-align: center;
  font-size: 10rem; }

.container .gallery-content {
  /* Слайдер Gallery end */ }

.container .gallery-content .slider-container {
  position: relative;
  width: 100rem;
  height: 70rem; }

.container .gallery-content .slider-container .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
  z-index: 6;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.container .gallery-content .slider-container .gallery {
  width: 100rem;
  height: 70rem; }

.container .gallery-content .slider-container .gallery .slide {
  width: 100rem;
  height: 70rem;
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
  background: #2BA2DF; }

.container .gallery-content .slider-container .gallery .slide1 {
  background: url(../img/slide1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.container .gallery-content .slider-container .gallery .slide2 {
  background: url(../img/slide2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.container .gallery-content .slider-container .gallery .slide3 {
  background: url(../img/slide3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.container .gallery-content .slider-container .gallery .slide4 {
  background: url(../img/slide4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.container .gallery-content .slider-container .gallery .slide5 {
  background: url(../img/slide5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.container .gallery-content .slider-container .gallery .slide6 {
  background: url(../img/slide6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.container .gallery-content .slider-container .slider-button {
  width: 5rem;
  height: 5rem;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  background: rgba(43, 162, 223, 0.3);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  z-index: 10; }

.container .gallery-content .slider-container .slider-button::before, .container .gallery-content .slider-container .slider-button::after {
  content: '';
  position: absolute;
  width: 2.5rem;
  height: .2rem;
  background: white;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: .5;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s; }

.container .gallery-content .slider-container .slider-button:hover::before, .container .gallery-content .slider-container .slider-button:hover::after {
  opacity: 1; }

.container .gallery-content .slider-container .slider-button:hover {
  background: #2ba2df; }

.container .gallery-content .slider-container .slider-button:active {
  background: #2095d1; }

.container .gallery-content .slider-container .next-button {
  top: 50%;
  left: 96%; }

.container .gallery-content .slider-container .next-button::before {
  top: 37%;
  left: 30%;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }

.container .gallery-content .slider-container .next-button::after {
  top: 63%;
  left: 30%;
  -webkit-transform: rotate(145deg);
      -ms-transform: rotate(145deg);
          transform: rotate(145deg); }

.container .gallery-content .slider-container .prev-button {
  top: 50%;
  left: 4%; }

.container .gallery-content .slider-container .prev-button::before {
  top: 37%;
  left: 20%;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg); }

.container .gallery-content .slider-container .prev-button::after {
  top: 63%;
  left: 20%;
  -webkit-transform: rotate(-145deg);
      -ms-transform: rotate(-145deg);
          transform: rotate(-145deg); }

.container .skills-content {
  /* Скилы Skills end */ }

.container .skills-content .skills-container {
  width: 80rem;
  height: 60rem;
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(43, 162, 223, 0.5); }

.container .skills-content .skills-container ul.skills {
  padding: 0;
  margin: 0; }

.container .skills-content .skills-container ul.skills li {
  margin: 1rem 0 0;
  padding: 0; }

.container .contact-content {
  /* Контакты Contacts end */ }

.container .contact-content .contact-container {
  width: 80rem;
  height: 60rem;
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(43, 162, 223, 0.5); }

.container .contact-content .contact-container ul.contact {
  padding: 0;
  margin: 0; }

.container .contact-content .contact-container ul.contact li {
  padding: 0;
  margin: 1rem 0 0;
  cursor: pointer; }

.container .contact-content .contact-container ul.contact li:first-child {
  margin-top: 0; }

.container .contact-content .contact-container ul.contact li a {
  color: white;
  text-decoration: none; }

.container .contact-content .contact-container ul.contact li p {
  margin: 0;
  cursor: pointer; }

.container .copyright {
  z-index: 100; }

.container .copyright a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 1.4rem;
  position: absolute;
  left: 1%;
  bottom: 1%;
  font-family: "Indie Flower", cursive; }

@-webkit-keyframes main-background {
  from {
    background-position: 0% 30%; }
  35% {
    background-position: 20% 40%; }
  55% {
    background-position: 40% 60%; }
  70% {
    background-position: 70% 70%; }
  to {
    background-position: 100% 88%; } }

@keyframes main-background {
  from {
    background-position: 0% 30%; }
  35% {
    background-position: 20% 40%; }
  55% {
    background-position: 40% 60%; }
  70% {
    background-position: 70% 70%; }
  to {
    background-position: 100% 88%; } }

@-webkit-keyframes item1 {
  from {
    top: 60%;
    left: 20%; }
  to {
    top: 70%;
    left: 26%; } }

@keyframes item1 {
  from {
    top: 60%;
    left: 20%; }
  to {
    top: 70%;
    left: 26%; } }

@-webkit-keyframes item2 {
  from {
    top: 20%;
    left: 35%; }
  to {
    top: 30%;
    left: 45%; } }

@keyframes item2 {
  from {
    top: 20%;
    left: 35%; }
  to {
    top: 30%;
    left: 45%; } }

@-webkit-keyframes item3 {
  from {
    top: 50%;
    left: 10%; }
  to {
    top: 40%;
    left: 0%; } }

@keyframes item3 {
  from {
    top: 50%;
    left: 10%; }
  to {
    top: 40%;
    left: 0%; } }

@-webkit-keyframes item4 {
  from {
    top: 30%;
    left: 60%; }
  to {
    top: 40%;
    left: 75%; } }

@keyframes item4 {
  from {
    top: 30%;
    left: 60%; }
  to {
    top: 40%;
    left: 75%; } }

@-webkit-keyframes item5 {
  from {
    top: 50%;
    left: 80%; }
  to {
    top: 60%;
    left: 60%; } }

@keyframes item5 {
  from {
    top: 50%;
    left: 80%; }
  to {
    top: 60%;
    left: 60%; } }

@-webkit-keyframes item6 {
  from {
    top: 80%;
    left: 50%; }
  to {
    top: 75%;
    left: 40%; } }

@keyframes item6 {
  from {
    top: 80%;
    left: 50%; }
  to {
    top: 75%;
    left: 40%; } }

@-webkit-keyframes item7 {
  from {
    top: 80%;
    left: 10%; }
  to {
    top: 90%;
    left: 20%; } }

@keyframes item7 {
  from {
    top: 80%;
    left: 10%; }
  to {
    top: 90%;
    left: 20%; } }

@-webkit-keyframes item8 {
  from {
    top: 20%;
    left: 20%; }
  to {
    top: 30%;
    left: 40%; } }

@keyframes item8 {
  from {
    top: 20%;
    left: 20%; }
  to {
    top: 30%;
    left: 40%; } }

@-webkit-keyframes item9 {
  from {
    top: 5%;
    left: 70%; }
  to {
    top: 15%;
    left: 80%; } }

@keyframes item9 {
  from {
    top: 5%;
    left: 70%; }
  to {
    top: 15%;
    left: 80%; } }

@-webkit-keyframes item10 {
  from {
    top: 0%;
    left: 15%; }
  to {
    top: 10%;
    left: 25%; } }

@keyframes item10 {
  from {
    top: 0%;
    left: 15%; }
  to {
    top: 10%;
    left: 25%; } }

.animated-block {
  margin-left: 13%; }

.animated-block.animated-block-on {
  -webkit-animation: animated-block-on 0.5s forwards;
          animation: animated-block-on 0.5s forwards; }

.animated-block.animated-block-off {
  -webkit-animation: animated-block-off 0.5s forwards;
          animation: animated-block-off 0.5s forwards; }

@-webkit-keyframes animated-block-on {
  from {
    margin-left: 13%; }
  to {
    margin-left: 0; } }

@keyframes animated-block-on {
  from {
    margin-left: 13%; }
  to {
    margin-left: 0; } }

@-webkit-keyframes animated-block-off {
  from {
    margin-left: 0; }
  to {
    margin-left: 13%; } }

@keyframes animated-block-off {
  from {
    margin-left: 0; }
  to {
    margin-left: 13%; } }
